{
  "extends": ["node", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "rules": {
    "import/no-commonjs": 0,
    "import/no-nodejs-modules": 0,
    "no-process-exit": 0,
    "no-console": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}
