{
	"all": true,
	"check": true,
	"reporter": ["text-summary", "text", "html", "json"],
	"lines": 95,
	"statements": 95,
	"functions": 95,
	"branches": 95,
	"exclude": [
		"coverage",
		"bin",
    "app.js",
    "__test__",
    "db"
	]
}
